.current {
    color: $accent-color;

    @media screen and (min-width: 768px) {
    position: relative;

        &::after {
                position: absolute;
                content: "";
        
                display: block;
                margin-top: 29px;
        
                left: 0;
                width: 100%;
                height: 4px;
                background-color: $accent-color;
                border-radius: 2px;
            }
    }


}